[Desktop Entry]
Name=Joyful-Dots
X-KDE-PluginInfo-Author=Kaedeee
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=your@email.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-Name=Joyful-Dots
X-KDE-PluginInfo-Version=1.0
